:root {
    --font-xl: clamp(0.8rem, 1.3vw + 1rem, 8rem);
    --font-md: clamp(1rem, 1vw + 0.3rem, 3rem);
    --font-sm: clamp(1rem, 1vw + 0.5rem, 3rem)
}

#timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 30px;
}

.historia {
    position: relative;
    width: 50vw;
    margin-top: 80px;
}

.linha {
    position: absolute;
    width: 3px;
    background-color: rgb(87, 99, 206);
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    margin-left: auto;
    border-top-left-radius: 0px;
}

.box {
    margin-top: 10px;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.box-text>h1 {
    font-size: clamp(--font-xl);
}

.box-text>p {
    color: black;
    text-align: center;
    font-size: clamp(--font-md);
}

.icon {
    display: flex;
    position: absolute;
    width: 45px;
    left: 48%;
    right: 50%;
    margin-top: 50px;
}

.icon>img {
    width: 100%;
}

@media(max-width: 1000px) {
    .linha {
        display: none;
    }
    .timeline {
        justify-content: center;
        align-items: center;
    }
    .historia {
        width: 45vw;
        margin-top: 80px;
    }
    .box {
        width: 100%;
    }
    .icon {
        display: none;
    }
}

@media(max-width: 350px) {
    .historia {
        width: 95vw;
        margin-top: 80px;
    }
}